{% extends "base.html" %}
{% block title %}Edit Note{% endblock %}
{% block content %}
<h1 class="text-center edit-heading">Edit Note</h1>
<form method="POST">
    <div class="create-note-title">
        <input type="text" class="create-note-input" id="note_title" name="note_title" value="{{ note.title }}"
            placeholder="New title" maxlength="50">
    </div>
    <div class="form-textarea">
        <textarea name="note" id="note" class="form-control" rows="3">{{ note.data }}</textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary add-note-btn">Save Changes</button>
    </div>
</form>
{% endblock %}