{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST" class="login-signup-forms">
    <span class="form-title">Sign Up</span>
    <label for="username" class="label">Username</label>
    <input type="text" id="username" name="username" required="" class="auth-input">
    <label for="email" class="label">Email Address</label>
    <input type="email" id="email" name="email" required="" class="auth-input">
    <label for="password" class="label">Password</label>
    <input type="password" id="password" name="password" required="" class="auth-input">
    <label for="confirm-password" class="label">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required="" class="auth-input">
    <button type="submit" class="submit">Register</button>
</form>

{% endblock %}