/* Sign Up form */
/* Inspiration taken from Yaya12085 https://uiverse.io/Yaya12085/horrible-grasshopper-43 */

body {
    height: 100vh;
}

.login-signup-forms {
    width: 40%;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 0px 4px #3434352f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #1a202c;
}

.label {
    color: #000000;
    margin-bottom: 4px;
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: 1.2rem;
}

.input {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid #0e0e0e34;
}

.submit {
    background-color: #1a202c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.welcome-msg {
    margin-top: 30px;
}

.home-headings {
    margin: 5px 20px 50px 5px;
}

.note-title {
    margin: 15px 0;
    font-weight: bolder;
}

.form-textarea>textarea {
    width: 60%;
    max-width: 60%;
    margin: 3px auto;
}

ul>.note-item {
    width: 60%;
    max-width: 60%;
    margin: 20px auto;
    list-style-type: none;
}

.note-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow-x: auto;
    border: #000000 solid 2px;
}

.form-title {
    font-weight: bolder;
    width: 60%;
    max-width: 60%;
    margin: 5px auto;
}

.form-title > input {
    width: 30%;
}

.note-text {
    flex: 1;
    max-width: 95%;
    word-wrap: break-word;
    padding: 25px 15px;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 10px;
}

.add-note-btn {
    margin-bottom: 50px;
}