/* Sign Up form */
/* Inspiration taken from Yaya12085 https://uiverse.io/Yaya12085/horrible-grasshopper-43 */

body {
    height: 100vh;
}

.form {
    width: 40%;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 0px 4px #3434352f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #1a202c;
}

.label {
    color: #000000;
    margin-bottom: 4px;
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: 1.2rem;
}

.input {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid #0e0e0e34;
}

.submit {
    background-color: #1a202c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add-trip-btn {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    margin: 40px 55px;
    border-radius: 1rem;
    color: #f08080;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.add-trip-btn:active {
    color: #ffffff;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.add-trip-btn:hover:not(:disabled) {
    background: #f08080;
    color: #ffffff;
    text-shadow: 0 0.1rem #bcb4b4;
}

.add-trip-btn:disabled {
    cursor: auto;
    color: #808080;
}