@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    max-width: 100vw;
    background: #fcfcfc;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background: #fff1e5;
}

/* Login & SignUp forms */

.login-signup-forms {
    width: 40%;
    margin: 120px auto;
    box-shadow: 0px 0px 0px 3px #000000;
    background: #fff8f1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #1a202c;
}

.label {
    color: #1a202c;
    margin-bottom: 4px;
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: 1.2rem;
}

.auth-input {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1rem;
    color: #1a202c;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.auth-input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #cbd5e0;
}

.auth-input:valid {
    border: 1px solid #008000;
}

.auth-input:invalid {
    border: 1px solid #e30505ec;
}

.submit {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Homepage */

/* Navbar */

.navbar-dark .navbar-nav .nav-link {
    color: #cacdd2;
    position: relative;
    transition: 0.5s;
}

/* navbar links underline effect */

.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #fff;
}

/* Welcome message */

.welcome-msg {
    margin-top: 30px;
}

.home-headings {
    margin: 30px 5px 8px 5px;
}

/* Each Note - container */

ul>.note-item {
    width: 65%;
    margin: 6px auto;
    list-style-type: none;
}

/* Note Title margin */

.note-title-div {
    margin: 15px 0;
}

/* Note Title font */

.note-title {
    font-weight: bolder;
    font-size: 1.1rem;
}

.note-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: visible;
    border: #000000 solid 2px;
    border-radius: 6px;
    background: #fff8f1;
}

.note-data {
    flex: 1;
    max-width: 95%;
    word-wrap: break-word;
    padding: 25px 15px;
}

/* Edit btn */

.edit-btn>i {
    margin-left: 10px;
    color: #5264AE;
    transition: 0.6s;
}

.edit-btn>i:hover {
    opacity: 0.8;
}

/* Delete note button */

.delete-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 8px;
}

.delete-button::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: #a80707;
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.delete-btn-icon {
    transform: scale(1);
    transition: .2s linear;
}

.delete-button:hover .delete-btn-icon {
    transform: scale(1.2);
}

.delete-button:hover .delete-btn-icon path {
    fill: #a80707;
}

.delete-button:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}

/* Create Note section */

/* Title */

.create-note-title {
    font-weight: bolder;
    width: 65%;
    margin: 10px auto;
    position: relative;
}

.create-note-title>.create-note-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.create-note-title .create-note-input:focus {
    outline: none;
}

.create-note-title .add-note-title {
    color: #212529;
    font-size: 1.1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.create-note-title .label-char {
    letter-spacing: 1px;
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.create-note-title .create-note-input:focus~label .label-char,
.create-note-title .create-note-input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}

.create-note-title .bar {
    position: relative;
    display: block;
    width: 200px;
}

.create-note-title .bar:before,
.create-note-title .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.create-note-title .bar:before {
    left: 50%;
}

.create-note-title .bar:after {
    right: 50%;
}

.create-note-title .create-note-input:focus~.bar:before,
.create-note-title .create-note-input:focus~.bar:after {
    width: 50%;
}

/* Note textarea */

.form-textarea>textarea {
    width: 65%;
    margin: 3px auto;
    background: #fff8f1;
}

.add-note-btn {
    margin: 30px 3px 50px 3px;
    background: #111;
}

/* Edit note section */

.edit-heading {
    margin: 30px 20px;
}

/* Footer */

footer {
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #5264AE;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding-left: 26px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 14px;
    text-decoration: none;
    transition: 0.8s;
}

.footer-bottom p a:hover {
    opacity: 0.6;
}

.footer-bottom p span {
    text-transform: uppercase;
    color: #cacdd2;
    font-weight: 200;
}

@media (max-width:500px) {

    .navbar-dark .navbar-nav .nav-link {
        width: fit-content;
    }

    ul>.note-item,
    .create-note-title,
    .form-textarea>textarea,
    .login-signup-forms {
        width: 90%;
    }

    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}