/* Sign Up form */
/* Inspiration taken from Yaya12085 https://uiverse.io/Yaya12085/horrible-grasshopper-43 */

body {
    margin: 0;
    max-width: 100vw;
    background: #fcfcfc;
    font-family: sans-serif;
    box-sizing: border-box;
}

.login-signup-forms {
    width: 40%;
    margin: 120px auto;
    box-shadow: 0px 0px 0px 4px #3434352f;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #1a202c;
}

.label {
    color: #000000;
    margin-bottom: 4px;
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: 1.2rem;
}

.input {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid #0e0e0e34;
}

.submit {
    background-color: #1a202c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.welcome-msg {
    margin-top: 30px;
}

.home-headings {
    margin: 30px 5px 8px 5px;
}

.edit-heading {
    margin: 30px 20px 8px 5px;
}

.note-title-div {
    margin: 15px 0;
    font-weight: bolder;
    font-size: 1.1rem;
}

.note-title {
    font-weight: bolder;
    font-size: 1.1rem;
}

.edit-btn>i {
    margin-left: 10px;
}

.form-textarea>textarea {
    width: 60%;
    max-width: 60%;
    margin: 3px auto;
}

ul>.note-item {
    width: 60%;
    max-width: 60%;
    margin: 6px auto;
    list-style-type: none;
}

.note-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow-x: auto;
    border: #000000 solid 2px;
}

.form-title {
    font-weight: bolder;
    width: 60%;
    max-width: 60%;
    margin: 5px auto;
}

.form-title>input {
    width: 30%;
}

.note-text {
    flex: 1;
    max-width: 95%;
    word-wrap: break-word;
    padding: 25px 15px;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 10px;
}

.add-note-title {
    font-size: 1.1rem;
}

.add-note-btn {
    margin: 30px 3px 50px 3px;
}

footer {
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding-left: 26px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 14px;
    text-decoration: none;
    transition: 0.8s;
}

.footer-bottom p a:hover {
    opacity: 0.6;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}